.flex-c-ac {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-ac-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-ac-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-ai-center-jc-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-jc-end {
  display: flex;
  justify-content: flex-end;
}
.flex-ai-end {
  display: flex;
  align-items: flex-end;
}
.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fs-8 {
  font-size: 8px;
}
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-5 {
  margin-right: 5px;
}
.text-center {
  text-align: center;
}
